<%- include('inc/head.ejs')%>
 <!-- header -->
 <header id="header">
    <div class="hd-line">
        <a href="/feed">
            <img src="/public/images/imagesK/backBtn.svg" alt="뒤로가기 버튼" class="back-ico">
        </a>
        <!-- tit -->
        <h2 class="comment_h2">Comment<span class="comt-count" count="<%=comments['count']%>"><%=comments['count']%></span></h2>
    </div>
</header>

<div class="comment-wrap">
    <div>
        <!-- 작성자 정보-->
        <div class="writer">
            <div class="user-img">
                <%if(article['profile'] == ''){%>
                    <img src="/public/images/imagesK/profile.svg" alt="프로필이미지">
                <%}else{%>
                    <img src="/uploads/profile/<%=article['profile']%>" alt="프로필이미지">
                <%}%>
            </div>

            <div class="user-prf">
                <div class="user-inf">
                    <h4><%=article['user_nick']%></h4>
                    <p class="time writer-time"><%=article['reg_dt']%></p>
                </div>

                <span><%=article['text']%></span>
                <span class="more">
                <a href="#">더 보기</a>
            </span>
            </div>
        </div>
    </div>

    <div class="comment inner">
    <%for(let i=0; i<comments.length; i++){%>
        <div class="user-img comment-user">
            <%if (comments[i]['profile'] == ''){%>
                <img src="/public/images/imagesK/profile.svg" alt="프로필이미지">
            <%}else{%>
                <img src="/uploads/profile/<%=comments[i]['profile']%>" alt="프로필이미지">
                <%}%>   
            <span class="name"><%=comments[i]['user_nick']%></span>
            <span class="txt"><%=comments[i]['comment']%></span>
            <span class="time"><%=comments[i]['reg_dt']%></span>
            <p class="reply"><a href="#">답글달기</a></p>
        </div>
    <%}%>   
    </div>

    <!-- 댓글 입력창 -->
    <div class="comment-form">
        <input class="comt-tf" type="text" name="comment" placeholder="Write comment." index="<%=index%>">
        <button type="button" class="comt-btn" name="comment_btn"><img src="/public/images/imagesK/send.svg" alt="프로필이미지"></button>
    </div> 
</div>

<script src="/public/js/comment.js"></script>
<%- include('inc/tail.ejs')%>